<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CerviScan</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>

<!-- Navbar -->
<nav class="navbar">
    <div class="nav-links">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('screening') }}">Screening</a>
        <a href="{{ url_for('result') }}">Results</a>
        <a href="{{ url_for('about') }}">About</a>
    </div>
</nav>

<!-- Hero Section -->
<section class="hero">

    <div class="hero-text">
        <h1>CerviScan</h1>

        <p class="tagline">
        "Scanning Today for a Safer Tomorrow"
        </p>

       <button onclick="window.location.href='{{ url_for('screening') }}'">
            Get Started →
        </button>
    </div>

</section>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>